nav {
    position: absolute;
    top: 10px;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: space-around;
    ul {
        @include vendor('display', 'flex');
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
        // border: solid _size(border-width) _palette(border);
        border-radius: _size(border-radius);
        text-align: center;

        li {
            padding-left: 0;
            // border-left: solid _size(border-width) _palette(border);

            &:first-child {
                border-left: 0;
            }

            a {
                display: block;
                min-width: 7.5rem;
                height: 2.75rem;
                line-height: 2.75rem;
                padding: 0 1.25rem 0 (1.25rem + _font(letter-spacing));
                text-transform: uppercase;
                letter-spacing: _font(letter-spacing);
                font-size: 0.8rem;
                border-bottom: 0;

                &:hover {
                    // background-color: _palette(border-bg);
                    color: $mint;
                    transition: ease-in .5s;
                }

                &:active {
                    background-color: _palette(border-bg-alt);
                }
            }
        }
    }
}

.mylogo {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 1em;

    img {
        width: 100%;
    }
}

.nav_container {
    position: fixed;
    right: 0;
    flex-direction: column;
    // bottom: 40px;
}

.email {
    position: fixed;
    bottom: 50px;
    right: 1em;
    z-index: 5;  
    padding-right: 1em;

    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        background-color: #fff;
        margin: 0px auto;
    }

    a {
        font-size: 0.85rem;
        letter-spacing: 2px;
        padding-bottom: 10px;
        writing-mode: vertical-lr;

        &:hover {
            color: $mint;
            transition: ease-in .5s;
        }
    }
}



// .resume_btn {
//   display: inline-block;
//   color: #67c5ff;
//   border: solid 2px #67c5ff;
//   border-radius: 3px;
//   transition: .4s;

//   &:hover {
//     background: #67c5ff;
//     color: white;
//   }
// }

@include breakpoint(xsmall) {
    padding: 1.5rem 0;

    .content {
        .inner {
            padding: 2.5rem 0;
        }
    }

    nav {
        ul {
            // @include vendor('flex-direction', 'column');
            min-width: 10rem;
            max-width: 100%;

            li {
                border-left: 0;
                // border-top: solid _size(border-width) _palette(border);

                &:first-child {
                    border-top: 0;
                }

                a {
                    height: 3rem;
                    line-height: 3rem;
                    min-width: 0;
                    width: 100%;
                }
            }
        }

        &.use-middle {
            &:after {
                display: none;
            }
        }
    }
}