#work {
    height: 500px;
    overflow: hidden;
}

// .projects {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     grid-column-gap: 10px;
//     grid-row-gap: 10px;
//     position: relative;

// }

.slide-wrap{
    display:-webkit-box;
    display:-ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    padding:0 0 1em;
    margin:0 0 2em 0;
    scroll-behavior: smooth;
 }
 .slide-wrap .slide-content{
    flex: 0 0 90%;
    margin: 0 10px;
    height:100%;
    background-color: blue;
 }
 @media screen and (max-width: 480px){
 .slide-wrap .slide-content {
     flex: 0 0 88%;
     margin: 0px 5px;
     scroll-snap-align:center;
 }
 }