#work {
    height: 100%;
    overflow: hidden;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    position: relative;
    gap: 15px;

    &_project {
        transition-duration: 0.3s;
        &:hover {
            transform:translateY(-10px);
        }

        &_box {
            box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            height: 100%;
            background-color: $navy;
            padding: 2rem 2rem;
            border-radius: 3px;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

            .project_title {
                font-size: 20px;
                font-weight: 600;
                color: $white-100;
                letter-spacing: 1px;
                margin: 0px 0px 10px;
            }

            .project_detail {
                font-size: 17px;
                color: $white-200;
            }

            .project_footer {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .project_list {
                display: flex;
                align-items: flex-end;
                -webkit-box-flex: 1;
                flex-grow: 1;
                flex-wrap: wrap;
                padding: 0px;
                margin: 20px 0px 0px;
                list-style: none;

                li {
                    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
                    font-size: 12px;
                    color: $white-300;
                    line-height: 1.75;
                    margin-right: 15px;
                }
            }

            .project_icon {
                margin: 20px 0px 0px;
                position: absolute;
                right: 50px;
                bottom: 13px;
                color: $white-100;

                .git, .external {
                    padding: 5px;

                    &:hover {
                        color: $mint;
                        transition: ease-in .5s;
                    }
                }
            }
        }
    }
}